---
---

// variables
$base-font-stack: 'Roboto Mono', 'Courier New', Courier, monospace;
$heading-font-stack: 'Young Serif';
$base-font-size: 12px;
$base-font-weight: 400;
$base-line-height: 2;
$font-weight-medium: 500;
$font-weight-bold: 600;
$text-color: #222;
$light-color: #fff;
$secondary-light-color: #eee;
$dark-color: #111;
$secondary-dark-color: #222;
$border-color: #ddd;

// heights
$project-overview: 650px;
$footer-height: 75px;

// padding
$gutter: 20px;
$border-box: border-box;
$content-box: content-box;

// widths
$full: 100%;
$half: 50%;
$max-width: 1600px;
$one-third: 33.3333%;
$two-thirds: 66.6666%;
$full-viewport-width: 100vw;
$half-viewport-width: 50vw;
$full-viewport-height: 100vh;
$half-viewport-height: 50vh;

// browser prefix mixin
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }

  #{$property}: $value;
}

// breakpoints
$break-large: "screen and (max-width: 768px)";
$break-medium: "screen and (max-width: 438px)";

@import
	"base",
	"layout",
  "pages",
  "entries",
  "projects",
  "proposals",
  "structure",
  "grids",
	"fonts"
;
