---
---

// Variables
$base-font-family: 'Roboto Mono', sans-serif;
$heading-font-family: 'Young Serif';
$base-font-size: 13px;
$base-font-weight: 400;
$base-line-height: 2;
$text-color: #222;
$light-color: #fff;
$dark-color: #222;

// Width of the content area
$full-width: 100%;
$half-width: 50%;


@import
        "base",
        "layout"
;
