---
---

// variables
$base-font-stack: roc-grotesk;
$heading-font-stack: roc-grotesk;
$subheading-font-stack: neue-haas-grotesk-display;
$base-font-size: 12px;
$base-font-weight: 400;
$base-line-height: 2;
$font-weight-medium: 500;
$font-weight-bold: 600;
$accent-color: #b29f77;
$text-color: #222;
$light-color: #e1dfd8;
$secondary-light-color: #fff;
$third-light-color: #f9f9f9;
$dark-color: #111;
$secondary-dark-color: #222;
$border-color: #ddd;

// heights
$height: 75px;

// padding
$gutter: 20px;

// widths
$full: 100%;
$half: 50%;
$max-width: 1600px;
$slim: 1200px;
$extra-slim: 999px;


// browser prefix mixin
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }

  #{$property}: $value;
}

// breakpoints
$break-large: "screen and (min-width: 40em)";
$break-medium: "screen and (min-width: 25em)";
$break-small: "screen and (min-width: 10em)";


// flex mixins
@mixin flex-row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
}

@mixin flex-full {
  flex: 0 0 100%;
}

@mixin flex-half {
  flex: 0 0 (100% / 2);
}

@mixin flex-two-thirds {
	flex: 0 0 (100% / 1.5);
}

@mixin flex-third {
	flex: 0 0 (100% / 3);
}

@mixin flex-quarter {
	flex: 0 0 (100% / 4);
}

@mixin flex-fifth {
	flex: 0 0 (100% / 5);
}

// position mixins
@mixin pin-horizontal-center {
  position: absolute;
	left: $half;
	@include prefix(transform, translateX(-$half) !important, webkit moz ms);
}

@import
	"base",
	"layout",
	"pages";
