---
---

// Variables
$base-font-family: 'Roboto Mono', sans-serif;
$heading-font-family: 'Young Serif';
$base-font-size: 13px;
$base-font-weight: 400;
$base-line-height: 2;
$text-color: #222;
$light-color: #fff;
$dark-color: #222;

// Width of the content areas
$full: 100%;
$half: 50%;
$full-viewport-width: 100vw;
$half-viewport-width: 50vw;
$full-viewport-height: 100vh;
$half-viewport-height: 50vh;

// Breakpoints

@import 
	"base",
	"layout"
;
