---
title: Jesse Winton
timezone: UTC
collections:
  posts:
    title: Posts
    output: true
  uploads:
    title: Uploads
    output: true
defaults:
- scope:
    path: ''
    type: pages
  values:
    is_nav_page:
    is_dark:
- scope:
    path: ''
    type: posts
  values:
    permalink: "/journal/:title/"
- scope:
    path: ''
    type: roles
  values:
    role_info:
      character:
      theatre:
      director:
      year:
      opening date:
      closing date:
- scope:
    path: ''
    type: photos
  values:
    photo_info:
      photo:
      year:
      photographer:
      photographer_website:
email: info@jessewinton.co
description: Official website of Jesse Winton. Actor, writer, and director studying
  in Sacramento.
baseurl:
url: http://jessewinton.co
twitter_username: jrandallw
markdown: kramdown
plugins:
- jekyll-seo-tag
sass:
  style: compressed
