---
title: Jesse Winton
timezone: UTC
collections:
  posts:
    title: Posts
    output: true
  uploads:
    title: Uploads
    output: true
defaults:
- scope:
    path: ''
    type: pages
  values:
    is_nav_page: 
    is_dark: 
    is_split: 
- scope:
    path: ''
    type: posts
  values:
    permalink: "/journal/:title/"
- scope:
    path: about.markdown
    type: pages
  values:
    permalink: "/about"
    layout: about
    page_heading: ''
    bio_image: ''
- scope:
    path: contact.markdown
    type: pages
  values:
    permalink: "/contact"
    layout: contact
    page_heading: ''
email: hi@jessewinton.co
description: Official website of Jesse Winton. Actor, writer, and director studying
  in Sacramento.
baseurl: 
url: http://jessewinton.co
twitter_username: jrandallw
google_analytics:
  tracking_id: UA-107682340-1
markdown: kramdown
plugins:
- jekyll-seo-tag
sass:
  style: compressed
