<div class="work-project-index">
  <div class="project-index-grid">
    <div class="grid-sizer"></div>
    {% assign projects = site.work | sort: "position" %}
    {% for project in projects %}
    <div class="project">
      <a href="{{ project.url }}" class="project-link">
        <img src="{{ project.featured_image }}" class="project-title">
        <h3 class="project-title">{{ project.title }}</h3>
        <h4 class="project-services">{{ project.services }}</h4>
      </a> 
    </div>
  {% endfor %}
  </div>
</div>