{% for block in page.sections%}
{% case block.type %}
{% when 'full-width-image' or 'center-image' or 'split-image-left' or 'split-image-right' %}
<div class="{{ block.type }} content-block">
  <img src="{{ block.image }}"> 
</div>  
{% when 'text' %}
<div class="{{ block.type }} content-block">
  <div class="container">
    {% if block.title %}<h6>{{ block.title | downcase }}</h6>{% endif %}
    {{ block.body | markdownify | downcase }}
    {% if block.price %}<h6 class="price heading">Your Price <span>${{ block.price }} {{ page.billing_type }}</span></h6>{% endif %}
  </div>
</div>  
{% when 'byline' %}
<div class="{{ block.type}}">
  <div class="container">
    <p class="heading">{{ block.byline | markdownify }}</p>
  </div>   
</div>   
{% endcase %}
{% endfor %}