<nav class="nav gap-left-right text-center position-absolute {% if page.is_dark == true %}dark{% endif %}">
  {% assign pages = site.pages | where:"is_nav_page",true | sort: 'position' %}
  {% for page in pages %}
  {% assign class = nil %}
  {% if page.url contains page.url %}
  {% assign class = 'active' %}
  {% endif %}
  <a href={{ page.url | escape }}>{{ page.title }}</a>
  {% endfor %}
  <a href="{{ site.url }}" class="nav-branding"><h4 class="name text-center">Jesse<br>Winton</h4></a>
</nav>