.page-content {
    &.about {
      width: $full;
      
      .container {
        width: $full - 10%;
        margin-top: $gutter * 8;
  
        @media #{$break-mf-medium} {
          & {
            margin: 0;
            width: $full - 25%;
          }
        }
      }
      
      @media #{$break-mf-medium} {
        & {
          width: $half;
        }
      }
    }
}