.page-content {
  
      &.about {
      .container {
        width: $half + 25%;
  
        @media #{$break-medium} {
          & {
            margin-top: $gutter * 8;
            width: $full - 10%;
          }
        }
      }
      
      @media #{$break-large} {
        & {
          width: $full;
        }
      }
    }
  }