// complete
.page-content {
    &.contact {
      width: $full;

      .content {
          margin-bottom: $gutter * 1.5;
          margin-top: 100px;

        @media #{$break-mf-medium} {
          & {
              margin-top: 0;
            }
          }  
      }
  
      .inquire-form {
          width: $full;
      }
  
      .inquire-step-2 {
          display: none;
      }
  
      .form-section {
          width: $full;
  
          & > * {
            width: $full;
          }
  
          & {
             margin-bottom: $gutter;
          }
      }
  
      input,
      select,
      textarea {
          border: 1px solid $third-light-color;
          -webkit-appearance: none;
          border-radius: 0;
          padding: $gutter / 1.5;
          font-size: $base-font-size - 2px;
          font-family: $base-font-stack;
          letter-spacing: 1px;
          background: transparent;
          -webkit-appearance: none;
    
          @media #{$break-mf-medium} {
            & {
                font-size: $base-font-size - 3px;
            }
          }
      }
  
      .btn {
          margin: 0 auto;
          display: block;
          background: $dark-color;
          color: $light-color;
          cursor: pointer;
      }
  
      input {
          &::-webkit-input-placeholder,
          &::-moz-placeholder,
          &::-ms-input-placeholder {
            color: $third-light-color;
          }
  
          &:active, 
          &:focus {
            border-color: $dark-color;
            outline: none;
            -webkit-appearance: none;
          }
      }
  
      textarea {
        resize: vertical;
        line-height: 2;
  
        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &::-ms-input-placeholder {
          color: $third-light-color;
        }
  
        &:active, 
        &:focus {
          border-color: $dark-color;
          outline: none;
          -webkit-appearance: none;
        }
      }
  
      select {
        position: relative;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
        background-position: 100% center;
        background-repeat: no-repeat;
        color: #A7AAA9;
  
        &.filled {
          color: $dark-color;
        }
  
        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &::-ms-input-placeholder {
          color: $third-light-color;
        }
  
        &:active, 
        &:focus {
          border-color: $dark-color;
          outline: none;
          -webkit-appearance: none;
        }
      }
  
      .validetta-bubble {
        display: block;
        padding-top: $gutter / 1.5;
        padding-left: 0;
        font-family: $base-font-stack;
        font-size: $base-font-size - 3px;
        color: $dark-color;
        text-transform: uppercase;
        letter-spacing: 1.5px;
      }

      @media #{$break-mf-medium} {
        & {
            width: $half;
        }
      }
    }  
}