/* fonts */
@font-face {
	font-family: 'Sporting Grotesque';
	font-weight: normal;
	src: url('../fonts/sporting-grotesque-regular.woff') format('woff'),
		 	 url('../fonts/sporting-grotesque-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Sporting Grotesque';
	font-weight: bold;
	src: url('../fonts/sporting-grotesque-bold.woff') format('woff'),
		 	 url('../fonts/sporting-grotesque-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Bigilla';
	font-weight: normal;
	src: url('../fonts/bigilla-regular.woff') format('woff'),
		 	 url('../fonts/bigilla-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Bigilla';
	font-weight: bold;
	src: url('../fonts/bigilla-bold.woff') format('woff'),
		 	 url('../fonts/bigilla-bold.woff2') format('woff2');
}