/* fonts */
@font-face {
	font-family: 'Young Serif';
	font-weight: normal;
	src: url('../fonts/youngserif.woff') format('woff'),
		 	 url('../fonts/youngserif.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto Mono';
	font-weight: normal;
	src: url('../fonts/roboto-mono.woff') format('woff'),
			 url('../fonts/roboto-mono.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto Mono';
	font-weight: 500;
	src: url('../fonts/roboto-medium.woff') format('woff'),
			 url('../fonts/roboto-medium.woff2') format('woff2');
}

