// hero
.hero {
		height: $full-viewport-height !important;
		width: 35% !important;
  	overflow: hidden;
		display: none;
}

.hero figure {
		height: $full-viewport-height !important;
    background-position: center !important;
    @include prefix(background-size, cover !important, webkit moz ms);
}

.hero figure::after {
    content: '';
    background: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .5;
}

@media #{$break-large} {
	.hero {
		display: none;
	}
}
.color-layer {
	display: none;
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 0;
    opacity: .5
}

// homepage content
.home-content {
	background: #eee;
	width: $full-viewport-width;
	min-height: $full-viewport-height;
}

.description {
	font-family: 'Young Serif' !important;
	font-size: $base-font-size + 54px !important;
  width: $full;
  z-index: 1;
  position: relative
}

@media #{$break-large} {
	.home-content,
	.hero {
		width: 100% !important;
	}
}
