.page-content {
    &.home {
        width: $full-viewport-width;
          .description {
              font-family: $heading-font-stack !important;
              font-size: $base-font-size + 10px;
              width: $full - 10%;
              z-index: 1;
              position: relative;
              margin: 0 auto;
              line-height: $base-line-height - .6;
          }
      
      @media #{$break-mf-medium} {
        & {
          width: $half;
        }
      }
    }
}