.page-intro {
    height: $full-viewport-height;
    background: $dark-color;
  
    &.journal {
      & .container {
        color: $light-color;
      }
    }
  }
  
  .page-content {
    &.journal {
      width: $full;
      min-height: 0;
      
        .entry {
          margin-bottom: $gutter * 3;
          flex: 0 0 $full;
          height: 400px;
          text-align: center;
          text-decoration: none;
  
            .entry-title {
              color: $light-color;
            }
            
            .entry-meta {
              color: $light-color;
              font-family: $base-font-stack;
              font-size: $base-font-size;
            }
        
          @media #{$break-mf-medium} {
            & {
              flex: 0 0 $half;
              margin: 0;
            }
          }
        }
      
      @media #{$break-medium} {
        & {
          margin-bottom: 0 !important;
  
          .container {
            width: $full - 20%;
          }
        }
      }
  
    }
  }

  .entries-overview {
    width: $full;
    position: fixed;
    top: 0;
    height: $full-viewport-height;
    z-index: -1;

    .title {
        color: $light-color;
        font-family: $heading-font-stack;
    }

    .date-time {
        color: $light-color;
        font-family: $base-font-stack;
        font-size: $base-font-size;
    }
}

.entry-content {
    background: $light-color;
    width: $full - 15%;
    min-height: $full-viewport-height;
    margin-top: $full-viewport-height;
    padding: 0 0 $gutter * 2 0;
    z-index: 1;
    min-height: $footer-height;

    .container {
        width: $full;
    }

    .content-block {
        margin: $gutter * 8 auto;

        &.first {
            margin-top: 0;
        }

        &.text {
            width: $half - 20%;

            @media #{$break-medium} {
                & {
                    width: $full - 10%;
                }    
            }

            @media #{$break-larger} {
                & {
                    width: $half - 10%;
                }    
            }
        }
    }

    .full-width-image {
        img {
            width: 100%;
    
        }

        .caption {
            margin-top: $gutter;
            width: $full;
        }
    }

    .split-image-left,
    .split-image-right,
    .push-image-left,
    .push-image-right {
        width: $full - 15%;
        background: $secondary-light-color;

        &.dark {
            background: $dark-color;
        }

        img {
            width: $full;
        }

        .caption {
            margin-top: $gutter;
            width: $full;
        }
    }

    .split-image-left::after,
    .split-image-right::after,
    .push-image-left::after,
    .push-image-right::after {
        content: '';
        display: block;
        clear: both;
    }

    .split-image-left figure {
        width: $half;
        float: left;
        position: relative;
    }

    .split-image-right figure {
        width: $half;
        float: right;
        position: relative;
    }

    .push-image-left figure {
        width: $half + 25%;
        float: left;
        position: relative;
    }

    .push-image-right figure {
        width: $half + 25%;
        float: right;
        position: relative;
    }

    .video {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 35px;
        height: 0;
        overflow: hidden;

        iframe {
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    @media #{$break-medium} {
        & {
            width: $full;
        }
        
        & .container {
            max-width: $full;
            width: $full;
        }
    }
}