// header
header {
	top: 30px;
	width: $half;
	right: 0;

	.branding {
		position: relative;
		z-index: 1000;

		.name {
    		width: 130px;
    		text-align: center;
			line-height: 1.3;
			margin: 0 auto;
		}
	}
}

@media #{$break-medium} {
    .header {
        width: $full;
    }
}

.nav {
	top: 1.4em;
    z-index: 10;

    a {
		font-size: $base-font-size - 2px;
		text-transform: uppercase;
        letter-spacing: 1px;
    	color: #000;
        margin: 0 20px;
    }
}

// footer
.footer {
    bottom: 0;
    width:  100%;
    left: 0;
    height: $footer-height;
	z-index: -1;
	padding: 0 $gutter;
	box-sizing: $border-box;
	background: $light-color;
}

.social a,
.copyright {
	font-family: 'Roboto Mono';
	font-size: 10px;
    letter-spacing: 1px;
	color: #000;
    border-bottom: 1px solid rgba(0,0,0,0);
}

.social a:first-of-type {
    margin-left: 0;
}

.social a {
    margin: 0 6px;
}

.social a:hover {
    border-color: #000;
}

.copyright {
		text-align: right;
}