header {
	top: 30px;
	right: 0;
	width: 100%;
	position: fixed;
	z-index: 10;
	@include flex-row;
	@include flex-center;
	
	.template-work-post & {
		position: fixed;
	}

	&.split {
		width: 100%;

		.name {
			display: block;

			@media #{$break-large} {
				display: none;
			}
		}

		@media #{$break-large} {
			width: 50%;
		}
	}

	.branding {
		position: relative;
		z-index: 1000;

		.name {
    		width: 250px;
    		text-align: center;
			line-height: 1.3;
			margin: 0 auto;
		}
	}
}

.nav {
	top: 1.4em;
    z-index: 10;

    a {
		font-size: $base-font-size - 2px;
		text-transform: uppercase;
		text-decoration: none;
        letter-spacing: 1px;
    	color: $text-color;
		margin: 0 20px;

		&:hover {
			border-bottom: 1px solid $dark-color;
		}
		
		&.active {
			border-bottom: 1px solid $dark-color;
		}
	}
}

.footer {
    height: $footer-height;
	z-index: 1;
	padding: 0 $gutter;
	box-sizing: border-box;
	background: $light-color;
	@include flex-column;
	@include flex-center;

	a {
		text-decoration: none;
	}
	
	&.split {
		width: 100%;
		position: absolute;

		@media #{$break-large} {
			width: 50%;
		}
	}

  .social {
	flex: none;

	  a {
		font-family: 'Roboto Mono';
		font-size: 10px;
		letter-spacing: 1px;
		color: #000;
		margin: 0 6px;
		border-bottom: 1px solid rgba(0,0,0,0);
	
		&:hover {
			border-color: #000;
		}
		
		&:first-of-type {
			margin-left: 0;
		}
	}

	@media #{$break-large} {
		@include flex-half;
	}
  }

  .copyright {
	flex: none;

	h6 {
		font-family: 'Roboto Mono';
		font-size: 10px;
    	letter-spacing: 1px;
		color: #000;
		text-align: right;
	}

	@media #{$break-large} {
		@include flex-half;
	}
  }
  
  @media #{$break-large} {
	@include flex-row;
	padding: 0 $gutter * 2;
  }
}