// header
header {
	top: 30px;
	width: $full - 20%;

	.branding {
		position: relative;
		z-index: 1000;

		.name {
    	width: 130px;
    	text-align: center;
    	line-height: 1.3;
		}
	}
}

.nav {
		top: 1.4em;
    z-index: 10;

     a {
    		font-size: $base-font-size + 2px;
        letter-spacing: 1px;
    		color: #000;
        margin: 0 20px;
    }
}

// footer
.footer {
    bottom: 0;
    width:  100%;
    left: 0;
    height: 300px;
		z-index: -1;
		background: $dark-color;
}

.social a,
.copyright {
		font-family: 'Roboto Mono';
		font-size: 10px;
    letter-spacing: 1px;
		color: #000;
    border-bottom: 1px solid rgba(0,0,0,0);
}

.social a:first-of-type {
    margin-left: 0;
}

.social a {
    margin: 0 6px;
}

.social a:hover {
    border-color: #000;
}

.copyright {
		text-align: right;
}

@media #{$break-large} {
	.footer.row {
	    flex-direction: column;
	    text-align: center !important;
	}

	.footer .copyright {
	    text-align: center !important;
	}

    .footer .grid-one-half {
        flex: none !important;
    }
}
