header {
	right: 0;
	height: $height;
	width: 100%;
	position: fixed;
	background: $light-color;
	z-index: 10;
	box-sizing: border-box;
	@include flex-row;
	@include flex-center;

	.index-link {
		color: $accent-color !important;
	}

	.nav {
		top: 1.4em;
		z-index: 10;
		text-align: right;
	
		a {
			font-size: $base-font-size + 3px;
			text-decoration: none;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: $text-color;
			margin: 0 20px;
	
			&:hover {
				border-bottom: 1px solid $dark-color;
			}
			
			&.active {
				border-bottom: 1px solid $dark-color;
			}
		}

		@media #{$break-large} {
			@include flex-half;
		}
	}
	
}

footer {
    bottom: 0;
    width:  100%;
	right: 0;
	position: absolute;
	height: $height;
	z-index: 1;
	padding: 0 $gutter;
	box-sizing: border-box;
	@include flex-column;
	@include flex-center;

	&.dark {
		background: $dark-color;

		a,
		p {
			color: $light-color !important;
		}

	}

	a,
	p {
		color: $dark-color;
		margin: 0 6px;
		border-bottom: 1px solid rgba(0,0,0,0);
		font-size: $base-font-size - 2px;
		text-decoration: none;
		letter-spacing: 1px;
	}

	a:hover {
		border-color: #000;
	}
	
	a:first-of-type {
		margin-left: 0;
	}


  .social {
	flex: none;

	@media #{$break-large} {
		@include flex-half;
	}
  }

  .copyright {
	flex: none;
	text-align: right;

	@media #{$break-large} {
		@include flex-half;
	}
  }
  
  @media #{$break-large} {
	@include flex-row;
	padding: 0 $gutter * 2;
  }
}