// header
header {
	top: 30px;
	right: 0;
	width: $full;
	position: absolute;
	
	.template-work-post & {
		position: fixed;
	}

	&.split {
		width: $half;

		.name {
			display: none;
		}
	}

	.branding {
		position: relative;
		z-index: 1000;
		margin-top: 10px;

		.name {
    		width: 130px;
    		text-align: center;
			line-height: 1.3;
			margin: 0 auto;
		}
	}

	@media #{$break-medium} {
		&, &.split {
			width: $full;
			padding: 0 !important;
		}

		&.split {
			.name {
				display: block !important;
			}
		}
	}
}

.nav {
	top: 1.4em;
    z-index: 10;

    a {
		font-size: $base-font-size - 2px;
		text-transform: uppercase;
		text-decoration: none;
        letter-spacing: 1px;
    	color: $text-color;
		margin: 0 20px;
		
		&.active {
			border-bottom: 1px solid $dark-color;
		}
	}
	
	@media #{$break-medium} {
		& a {
			text-align: center;
		}
	}
}

// footer
.footer {
    bottom: 0;
    width:  100%;
    right: 0;
    height: $footer-height;
	z-index: 1;
	padding: 0 $gutter * 3;
	box-sizing: $border-box;
	background: $light-color;

	a {
		text-decoration: none;
	}
	
	&.split {
		width: $half;
	}

	.template-posts-post & {
		max-width: $full - 20%;
		position: relative;
	}

	@media #{$break-medium} {
		&, &.split {
        	flex-direction: column;
			padding: 0 20px;
			width: $full;
        	text-align: center;
        	height: 75px;
        	position: relative !important;
    	}

		& .social,
		& .copyright {
			margin: 2px auto !important;
			   height: auto !important;
			flex: none !important;
		}

		& a {
			margin: 0 3px !important;
		}
	}
}

.social a,
.copyright {
	font-family: 'Roboto Mono';
	font-size: 10px;
    letter-spacing: 1px;
	color: #000;
    border-bottom: 1px solid rgba(0,0,0,0);
}

.social a:first-of-type {
    margin-left: 0;
}

.social a {
    margin: 0 6px;
}

.social a:hover {
    border-color: #000;
}

.copyright {
		text-align: right;
}