// home
.home-content {
	background: #eee;
	width: $full-viewport-width;
	min-height: $full-viewport-height;
}

.hero {
	width: $half-viewport-width;
}

.description {
	font-family: 'Young Serif' !important;
	font-size: $base-font-size + 54px !important;
  width: $full - 30%;
  z-index: 1;
  position: relative
}

@media #{$break-large} {
	.home-content,
	.hero {
		width: 100% !important;
	}
}

// about 
.about-content {
	background: $light-color;
	width: $half-viewport-width;
	min-height: $full-viewport-height;
}

.about-content .bio-image {
	width: 300px;
	margin: 120px auto 0 auto;
}

.about-content .bio-name {
	font-size: 25px;
	right: -50px;
}

.about-hero {
	background: $light-color !important;
}