.wrapper {
	width: 100%;
	z-index: 1;

	&.split {
		@include flex-row;
	}

	.page-content {
		background: $light-color;
		width: 100%;
		min-height: 100vh;
		@include flex-column;
		@include flex-center;
    position: relative;
    
    .heading {
      font-family: $heading-font-stack !important;
      font-size: $base-font-size + 10px;
      width: $full - 10%;
      z-index: 1;
      position: relative;
      margin: 0 auto;
      line-height: $base-line-height - .6;

      &.left {
        text-align: left;
      }

      &.right {
        text-align: right;
      }

      &.center {
        text-align: center;
      }

      &.justify {
        text-align: justify;
      }
    }

    .content-block {
      .heading {
        margin-left: 0;
        margin-bottom: 20px;
      }
    }

    .text-block {
      .container {
        text-align: justify;
      }
		}
		
		@media #{$break-large} {
			width: 50%;
		}
	}
	
.container {
	width: 80%;
	margin: 0 auto;
	@include flex-column;
	@include flex-center;
}

.hero {
	width: 50vw;
	height: 100vh;
	background-color: $dark-color !important;
	@include prefix(background-size, cover !important, webkit moz);
	position: relative;
	display: none;
	background-position: center !important;

	h4 {
		font-size: $base-font-size + 10px;
		color: $light-color;
		text-transform: uppercase;
	}
	
	.name {
		width: 250px;
		text-align: center;

		span {
			display: inline-block;
		}

		a {
			position: relative;
			color: #fff;
			text-decoration: none;

			&:hover {
			  color: $secondary-dark-color;	
			}
		}
	}

	@media #{$break-large} {
		@include flex-column;
		@include flex-center;
	}
}
}

@import
	"pages/work",
  "pages/projects",
  "pages/proposals"
;