.page-intro {
  height: $full-viewport-height;
  background: $dark-color;

  &.journal {
    & .container {
      color: $light-color;
    }
  }
}

.page-content {
	background: $light-color;
	width: $half;
  min-height: $full-viewport-height;
  
  .page-heading {
    margin-bottom: $gutter * 2;
  }

  @media #{$break-medium} {
		& {
			width: $full-viewport-width;
		}
	}

	//home	
	&.home {
		.description {
			font-family: $heading-font-stack !important;
			font-size: $base-font-size + 10px;
			width: $full - 10%;
      z-index: 1;
      position: relative;
      margin: 0 auto;
      line-height: $base-line-height - .6;
    }
    
    @media #{$break-large} {
      & {
        width: $full-viewport-width;
      }
    }
  }

  @media #{$break-large} {
    .description {
      width: $full - 10%;
      font-size: $base-font-size + 10px !important;
    }
  }


	&.about {
    .container {
      width: $half + 25%;

      @media #{$break-medium} {
        & {
          margin-top: $gutter * 8;
          width: $full - 10%;
        }
      }
    }
    
    @media #{$break-large} {
      & {
        width: 100%;
      }
    }
  }
  
  &.work {
    width: $full;
    min-height: $full-viewport-height;
    padding-top: $gutter * 7;

    .container {
      width: $full - 20%;

      .project {
        margin: $gutter auto;
        flex: 0 0 calc(33% - 20px);
      
        figcaption {
          margin-top: $gutter;
      
          .title,
          .details {
            font-size: $base-font-size;
            font-family: $base-font-stack;
            text-transform: uppercase;
          }
        } 
      
        a {
          text-decoration: none;
        }
        
        &:hover {
         text-decoration: underline; 
        }
      
        @media #{$break-medium} {
          & {
            flex: 0 0 $full;
            margin-bottom: $gutter * 3;
          }
        }
      }

      @media #{$break-large} {
          width: $full - 10%;
      }
    }
    
    @media #{$break-medium} {
      & {
        margin-bottom: 0 !important;

        .container {
          width: $full - 20%;
        }
      }
    }

  }

  &.journal {
    width: $full;
    min-height: 0;
    
      .entry {
        margin: 0;
        flex: 0 0 $half;
        height: 400px;
        text-align: center;
        text-decoration: none;

          .entry-title {
            color: $light-color;
          }
          
          .entry-meta {
            color: $light-color;
            font-family: $base-font-stack;
            font-size: $base-font-size;
          }
      
        @media #{$break-medium} {
          & {
            flex: 0 0 $full;
            margin-bottom: $gutter * 3;
          }
        }
      }
    
    @media #{$break-medium} {
      & {
        margin-bottom: 0 !important;

        .container {
          width: $full - 20%;
        }
      }
    }

  }

  &.contact {
    .content {
      margin-bottom: $gutter * 1.5;
    }

    .inquire-form {
      width: $full;
    }

    .inquire-step-2 {
      display: none;
    }

    .form-section {
      width: $full;

      & > * {
        width: $full;
      }

      & {
         margin-bottom: $gutter;
      }
    }

    input,
    select,
    textarea {
      border: 1px solid $third-light-color;
      -webkit-appearance: none;
      border-radius: 0;
      padding: $gutter / 1.5;
      font-size: $base-font-size - 3px;
      font-family: $base-font-stack;
      letter-spacing: 1px;
      background: transparent;
      -webkit-appearance: none;
      @include prefix(box-sizing, border-box, webkit moz ms);
  
      @media #{$break-medium} {
          & {
              font-size: $base-font-size - 2px;
          }
      }
    }

    .btn {
      margin: 0 auto;
      display: block;
      background: $dark-color;
      color: $light-color;
      cursor: pointer;
    }

    input {
      &::-webkit-input-placeholder,
      &::-moz-placeholder,
      &::-ms-input-placeholder {
        color: $third-light-color;
      }

      &:active, 
      &:focus {
        border-color: $dark-color;
        outline: none;
        -webkit-appearance: none;
      }
    }

    textarea {
      resize: vertical;
      line-height: 2;

      &::-webkit-input-placeholder,
      &::-moz-placeholder,
      &::-ms-input-placeholder {
        color: $third-light-color;
      }

      &:active, 
      &:focus {
        border-color: $dark-color;
        outline: none;
        -webkit-appearance: none;
      }
    }

    select {
      position: relative;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
      background-position: 100% center;
      background-repeat: no-repeat;
      color: #A7AAA9;

      &.filled {
        color: $dark-color;
      }

      &::-webkit-input-placeholder,
      &::-moz-placeholder,
      &::-ms-input-placeholder {
        color: $third-light-color;
      }

      &:active, 
      &:focus {
        border-color: $dark-color;
        outline: none;
        -webkit-appearance: none;
      }
    }

    .validetta-bubble {
      display: block;
      padding-top: $gutter / 1.5;
      padding-left: 0;
      font-family: $base-font-stack;
      font-size: $base-font-size - 3px;
      color: $dark-color;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
  }
}