.wrapper {
	width: 100%;
	z-index: 1;

<<<<<<< HEAD
=======
	&.split {
		@include flex-row;
	}

>>>>>>> parent of a166bac... big updates
	.page-content {
		width: 100%;
<<<<<<< HEAD
		margin-top: $height * 2;
		min-height: 75vh;
		position: relative;
	}
}

@import
	"pages/index",
	"pages/bio",
	"pages/projects"
=======
		min-height: 100vh;
		@include flex-column;
		@include flex-center;
		position: relative;
		
		&.split {
			@media #{$break-large} {
				width: 50%;
			}
		}
    
    .heading {
      font-family: $heading-font-stack !important;
      font-size: $base-font-size + 5px;
      width: $full - 10%;
      z-index: 1;
      position: relative;
      margin: 0 auto;
      line-height: $base-line-height - .6;

      &.left {
        text-align: left;
      }

      &.right {
        text-align: right;
      }

      &.center {
        text-align: center;
      }

      &.justify {
        text-align: justify;
			}
			
			@media #{$break-large} {
				font-size: $base-font-size + 10px;
			}
    }

    .content-block {
      .heading {
        margin-left: 0;
        margin-bottom: 20px;
      }
    }

    .text-block {
      .container {
        text-align: justify;
      }
		}

		.container {
			width: 100%;
			margin: 0 auto;
			padding: 0 $gutter;
			text-align: justify;
			box-sizing: border-box;
			@include flex-column;
			@include flex-center;

			@media #{$break-large} {
				width: 80%;
			}
		}
		
	}

.hero {
	width: 50vw;
	height: 100vh;
	background-color: $dark-color !important;
	@include prefix(background-size, cover !important, webkit moz);
	position: relative;
	display: none;
	background-position: center !important;

	h4 {
		font-size: $base-font-size + 10px;
		color: $light-color;
		text-transform: uppercase;
	}
	
	.name {
		width: 250px;
		text-align: center;

		span {
			display: inline-block;
		}

		a {
			position: relative;
			color: #fff;
			text-decoration: none;

			&:hover {
			  color: $secondary-dark-color;	
			}
		}
	}

	@media #{$break-large} {
		@include flex-column;
		@include flex-center;
	}
}
}

@import
	"pages/work",
  "pages/projects",
  "pages/proposals"
>>>>>>> parent of a166bac... big updates
;