.photos-content {
    width: 100%;
	background: #f9f9f9;
	min-height: $full-viewport-height;
}

.photos-content .container {
    margin-top: 200px;
}

.photo a {
    color: $text-color;
    border-bottom: 1px solid $dark-color;
}
