.proposal-overview {
    width: $full;
    top: 0;
    background: $secondary-light-color;
    min-height: $full-viewport-height;
    z-index: -1;

    .container {
        max-width: $half;
    }

    .intro,
    .info {
        flex: 0 0 calc(50% - #{$gutter * 2});
    }

    .info {
        margin: 0 auto;
    }

    .heading {
        font-size: $base-font-size + 5px;
        text-align: center;
        font-family: $heading-font-stack;
        text-transform: uppercase;
        margin-bottom: $gutter;
    }

    @media #{$break-medium} {
        & {
            height: $full-viewport-height;
        }

        & .container {
            max-width: $full - 10%;
            width: $full - 10%;
            margin-top: $gutter * 9;
            flex-direction: column;
            padding-bottom: $gutter * 3;

            .info {
                margin: $gutter 0 0 0;
                flex-direction: column;
            }

            .credits {
                margin-top: $gutter * 2;
            }

            .content-block {
                margin: $gutter * 3 auto;
            }
        }
    }
}

.proposal-nav {
    background: $secondary-light-color;
    width: $full;
    text-align: center;
    height: 60px;
    z-index: 100;
    position: fixed;
    top: 0;

    a {
        color: $dark-color;
        margin: 0 $gutter;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.proposal-content {
    background: $light-color;
    width: $full;
    margin-bottom: $footer-height;
    min-height: $footer-height;

    .container {
        max-width: $half;
    }

    .content-block {
        margin: $gutter * 8 auto;
        max-width: $full - 20%;
    }

    .image-block {
        margin: 0 auto;
    }

    .full-width-image {
        margin-top: 0 !important;
        display: block;
    }

    .full-width-image img {
        width: 100%;
        display: block;
    }

    .center-image img {
        margin: 0 auto;
    }

    .split-image-left,
    .split-image-right {
        width: 100%;
        background: $dark-color;
    }

    .split-image-left::after,
    .split-image-right::after {
        content: '';
        display: block;
        clear: both;
    }

    .split-image-left img {
        float: left;
        width: $half;
    }

    .split-image-right img {
        float: right;
        width: $half;
    }

    .text {
        max-width: $half - 5%;
        margin: $gutter auto;
        font-size: $base-font-size - 1px;
        text-align: justify;

        .heading {
            font-size: $base-font-size - 1px;
            font-family: $heading-font-stack;
            text-transform: uppercase;
            margin-bottom: $gutter;
        }

        .price {
            font-family: $base-font-stack;
            font-size: $base-font-size - 1px;
            font-weight: bold;
        }
    }

    .total span {
        float: right;
    }

    @media #{$break-medium} {
        & .container {
            max-width: $full;
            width: $full;

            .content-block {
                margin: $gutter * 3 auto;
            }
        }
    }
}