.proposal-overview {
    width: $full;
    position: absolute;
    top: 0;
    background: $secondary-light-color;
    min-height: $project-overview;
    z-index: -1;

    .container {
        max-width: $max-width;
        width: 80%;
    }

    .intro {
        padding-right: $gutter + 10px;
        box-sizing: border-box;
        text-align: justify;
    }

    .intro,
    .info {
        flex: 0 0 calc(50% - #{$gutter * 2});
    }

    .info {
        margin-left: $gutter;
        margin-right: auto;
        
        .services {
            margin-left: $gutter;    
        }
    }    

    .heading {
        font-size: $base-font-size - 2px;
        font-family: $heading-font-stack;
        text-transform: uppercase;
        margin-bottom: $gutter;
    }

    @media #{$break-medium} {
        & {
            height: $full-viewport-height;
        }

        & .container {
            max-width: $full - 10%;
            width: $full - 10%;
            margin-top: $gutter * 9;
            flex-direction: column;
            padding-bottom: $gutter * 3;

            .info {
                margin: $gutter 0 0 0;
                flex-direction: column;
            }

            .content-block {
                margin: $gutter * 3 auto;
            }
        }
    }
}

.proposal-content {
    background: $light-color;
    width: $full;
    margin-top: $project-overview;
    margin-bottom: $footer-height;
    min-height: $footer-height;

    .container {
        width: $full;
        max-width: $max-width;
    }

    .content-block {
        margin: $gutter * 6 auto !important;
    }

    .image-block {
        margin: 0 auto;
    }

    .full-width-image {
        margin-top: 0 !important;
        display: block;
    }

    .full-width-image img {
        width: 100%;
        display: block;
    }

    .center-image img {
        margin: 0 auto;
    }

    .split-image-left,
    .split-image-right {
        width: 100%;
        background: $dark-color;
    }

    .split-image-left::after,
    .split-image-right::after {
        content: '';
        display: block;
        clear: both;
    }

    .split-image-left img {
        float: left;
        width: $half;
    }

    .split-image-right img {
        float: right;
        width: $half;
    }

    .text {
        margin: $gutter auto;
        max-width: $half;
        font-size: $base-font-size;

        .heading {
            font-size: $base-font-size;
            font-family: $base-font-stack;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: $gutter;
        }

        ul {
            margin-left: $gutter * 2;
            margin-bottom: $gutter;
            
            li::before {
                content: '•';
                vertical-align: middle;
                margin-right: $gutter / 4;
                font-size: 14px;
            }
        }

        h1, 
        h2, 
        h3, 
        h4, 
        h5, 
        h6 {
            font-size: $base-font-size + 5px;
            margin-bottom: $gutter / 2;
        }
    }

    .price {
        width: $full;
        border: 1px solid #111;
        height: $gutter * 2;
        line-height: $gutter * 2;
        margin-top: $gutter * 2;
        padding: 0 0 0 $gutter;
        
        span {
            float: right;
            height: $gutter * 2;
            line-height: $gutter * 2;
            padding: 0 $gutter * 2;
            color: $light-color;
            background: $dark-color;
            vertical-align: middle;
            border-left: 1px solid $dark-color;
        }
    }

    @media #{$break-medium} {
        & .container {
            max-width: $full;
            width: $full;

            .content-block {
                margin: $gutter * 3 auto;
            }

            .price,
            .price span {
                padding: 0 !important;
                text-align: center;
                margin: 0 auto !important;
                float: none !important;
                display: block;
                width: 100% !important;
                text-align: center;
            }
        }
    }
}