// layout
.wrapper {
	width: $full;
	z-index: 1;
}

@media #{$break-large} {
    .wrapper {
		flex-direction: column;
    }
}

.container {
	width: $full - 40%;
	margin: 0 auto;
}

@media #{$break-medium} {
    .container {
        width: $full - 20%;
    }
}

.hero {
	width: $half-viewport-width;
	height: $full-viewport-height;
	background-color: $dark-color !important;
	@include prefix(background-size, cover !important, webkit moz);
	background-position: center !important;

	h4 {
		font-size: $base-font-size + 10px;
		color: $light-color;
		text-transform: uppercase;
	}
	
	.name {
		width: 250px;

		span {
			display: inline-block;
		}

		a {
			position: relative;
			color: #fff;
			text-decoration: none;

			&:hover {
			  color: $secondary-dark-color;	
			}
		}
	}

	@media #{$break-large} {
		& {
			display: none !important;
		}
	}
}

.position-absolute {
	position: absolute;
}

.align-center {
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
}

.pin-top {
	position: absolute;
	top: 0;
}

.pin-right {
	position: absolute;
	right: 0;
}

.pin-left {
	position: absolute;
	left: 0;
}

.pin-top-left {
	position: absolute;
	left: 0;
	top: 0;
}

.pin-top-center {
	position: absolute;
	@include prefix(transform, translateX(-$half) !important, webkit moz ms);
	left: $half;
	top: 0;
}

.pin-top-right {
	position: absolute;
	right: 0;
	top: 0;
}

.pin-middle-left {
	position: absolute;
	@include prefix(transform, translateY(-$half) !important, webkit moz ms);
	left: 0;
	top: $half;
}

.pin-middle-center {
	position: absolute;
	@include prefix(transform, translate(-$half, -$half) !important, webkit moz ms);
	left: $half;
	top: $half;
}

.pin-middle-right {
	position: absolute;
	@include prefix(transform, translateY(-$half) !important, webkit moz ms);
	right: 0;
	top: $half;
}

.pin-bottom-left {
	position: absolute;
	left: 0;
	bottom: 0;
}

.pin-bottom-center {
	position: absolute;
  @include prefix(transform, translateX(-$half) !important, webkit moz ms);
	left: $half;
	bottom: 0;
}

.pin-bottom-right {
	position: absolute;
	right: 0;
	bottom: 0;
}

.pin-vertical-center {
	position: absolute;
	top: $half;
	@include prefix(transform, translateY(-$half) !important, webkit moz ms);
}

.pin-horizontal-center {
	position: absolute;
	left: $half;
	@include prefix(transform, translateX(-$half) !important, webkit moz ms);
}

.clear::before,
.clear::after {
	content: '';
	display: block;
	clear: both;
}