.page-content {
    #headline {
        max-width: 75%;
        min-height: 400px;
        @include flex-row;
        @include flex-center;

        h1 {
            font-family: $heading-font-stack !important;
            font-size: $base-font-size + 8;
            font-weight: normal;
            width: $full;
            z-index: 1;
            position: relative;
            margin: 0 auto;
            line-height: $base-line-height - .6;
                  
            @media #{$break-large} {
                font-size: $base-font-size + 50px;
            }
          
            &::after {
                content: '.';
                color: $accent-color;
            }
        }
    }
}