.project-content.proposal {

    .container {
      max-width: $slim;
      width: $full;
    
      .content-block {
        margin: $gutter auto;
        max-width: 60%;
        font-size: $base-font-size;

        .heading {
            margin-right: auto;
            font-family: $base-font-stack;
            font-size: $base-font-size + 4px;
            margin-bottom: $gutter * 1.5;
        }

        ul {
            margin-bottom: $gutter;
            
            li::before {
                content: '•';
                vertical-align: middle;
                margin-right: $gutter / 4;
                font-size: 14px;
            }
        }

        p {
            margin-right: auto;
        }
      }
    
    }

    .price {
        width: $full;
        border: 1px solid #111;
        height: $gutter * 2;
        line-height: $gutter * 2;
        margin-top: $gutter * 2;
        padding: 0 0 0 $gutter;
        
        span {
            float: right;
            height: $gutter * 2;
            line-height: $gutter * 2;
            padding: 0 $gutter * 2;
            color: $light-color;
            background: $dark-color;
            vertical-align: middle;
            border-left: 1px solid $dark-color;
        }
    }

    @media #{$break-medium} {
    }
}