.page-content {
    .project-index-grid {
        width: 100%;

        .project {
            margin-bottom: 20px;
            box-sizing: border-box;

            .project-link {
                display: block;
            }
        }

        .project,
        .grid-sizer {
            width: $full;

            @media #{$break-large} {
                width: $full / 3;
            }
        }
    }
}