.page-content {
    .work-project-index {
        margin: 0 auto;
        padding: 0 $gutter;

        .project {
            margin-bottom: $gutter;

            img {
                width: 100%;
            }

            .project-link {
                display: block;
                text-decoration: none;
            }

            .project-services {
                font-size: $base-font-size + 3px;
                color: $accent-color;
                margin-top: -20px;
            }
        }

        .project,
        .grid-sizer {
            width: $full;

            @media #{$break-large} {
                width: $full / 3;
            }
        }
    }
}