.page-content {
    .project-index-grid {
        max-width: 1400px;
        width: 75%;

        .project {
            padding: 0 $gutter;
        }

        .project,
        .grid-sizer {
            width: $full;

            @media #{$break-large} {
                width: $full / 3;
            }
        }
    }
}