.page-content {
    &.work {
        width: $full;
        margin: 0 auto;
        min-height: $full-viewport-height;
        padding-top: $gutter * 9;
    
        .project-index-grid {
          width: 80%;
          max-width: 1400px;
          @include flex-row;
          flex-wrap: wrap;
    
          .grid-sizer {
            width: $full;
          }
    
          .project {
            width: $full;
            margin-bottom: $gutter * 2;
            padding: 0 $gutter / 2;
            @include flex-full;
            flex-wrap: wrap;
            
          
            figcaption {
              margin-top: $gutter;
          
              .title {
                font-size: $base-font-size;
                font-family: $base-font-stack;
                text-transform: uppercase;
                text-align: center;
              }
            } 
          
            a {
              text-decoration: none;
            }
            
            &:hover {
             text-decoration: underline; 
            }
    
            @media #{$break-large} {
                @include flex-third;
              }
          }
        }
    }
}