.page-content {
    &.work {
        width: $full;
        margin: 0 auto;
        min-height: $full-viewport-height;
        padding-top: $gutter * 9;
    }
}

.work-project-index {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 $gutter;
  
  .work-link-wrapper {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: $gutter * 3;

    a {
      text-decoration: none;

      :hover {
        text-decoration: underline; 
      }
    }
  }

  .project-index-grid {
    @include flex-row;
    flex-wrap: wrap;

    .project {
      width: $full;
      margin-bottom: $gutter * 2;
      padding: 0 $gutter / 2;
      @include flex-full;
      flex-wrap: wrap;
    
      figcaption {
        margin-top: $gutter;
  
        .title {
          font-size: $base-font-size;
          font-family: $base-font-stack;
          text-transform: uppercase;
          text-align: center;
        }
      } 
  
      a {
        text-decoration: none;
      }
    
      &:hover {
        text-decoration: underline; 
      }

      @media #{$break-large} {
        @include flex-third;
      }
    }
  }
}