.loading-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	z-index: 10;
	pointer-events: none;

	.loading-screen {
		position: relative;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		background-color: $third-light-color;
		width: 100%;
		height: 100%;
		transform: scaleY(0) skewX(0);
		transform-origin: top left;
	}
}

.wrapper {
	width: 100%;
	z-index: 1;

	.app {
		width: 100%;
	}

	.app,
	&.split {
		@include flex-row;
	}

	&.index {
		.header h6 {
			color: $light-color;

			@media #{$break-large} {
				color: $dark-color;
			}	
		}

		.header,
		.footer {
			a,p {
				color: $light-color;

				@media #{$break-large} {
					color: $dark-color;
				}	
			} 
		}
	}

	.page-content {
		background: $light-color;
		width: 100%;
		min-height: 100vh;
		@include flex-column;
		@include flex-center;
    position: relative;
    
    .heading {
      font-family: $heading-font-stack !important;
			font-size: $base-font-size + 8;
			font-weight: 300;
      width: $full - 20%;
      z-index: 1;
      position: relative;
      line-height: $base-line-height - .6;

      &.left {
		text-align: left;
		margin: 0 auto 0 0;
      }

      &.right {
		text-align: right;
		margin: 0 0 0 auto;
      }

      &.center {
		text-align: center;
		margin: 0 auto;
      }

      &.justify {
        text-align: justify;
			}
			
			@media #{$break-large} {
				font-size: $base-font-size + 10px;
			}
    }

    .text-block {
      .container {
        text-align: justify;
      }
	}
		
		@media #{$break-large} {
			width: 50%;
		}
	}
	
.container {
	width: 80%;
	margin: 0 auto;
	display: none;
	@include flex-column;
	@include flex-center;
}

.hero {
	width: 100vw;
	height: 100vh;
	background-color: $dark-color !important;
	@include prefix(background-size, cover !important, webkit moz);
	position: absolute;
	background-position: left center !important;

	@media #{$break-large} {
		position: relative;
		width: 50vw;
	}

	h4 {
		font-size: $base-font-size + 10px;
		color: $light-color;
		text-transform: uppercase;
	}
	
	.name {
		text-align: center;
		display: none;

		@media #{$break-large} {
			display: block;
		}

		span {
			display: inline-block;
		}

		a {
			position: relative;
			color: #fff;
			text-decoration: none;

			&:hover {
			  color: $secondary-dark-color;	
			}
		}
	}

	@media #{$break-large} {
		@include flex-column;
		@include flex-center;
	}
}
}

@import
	"pages/index",
	"pages/work",
	"pages/projects",
	"pages/proposals"
;