<!DOCTYPE html>
<html>

  {% include sections/head.html %}

  {% assign layout = page.layout %}
  {% assign theme = page.page_theme %}
  <body class="template-{{ layout }}" data-barba="wrapper">
    <div class="loading-container">
      <div class="loading-screen">
      </div>
    </div>
    {% assign type = page.page_type %}
    <main class="wrapper{% if type %} {{ type }}{% endif %}" role="main" data-barba="container">
      {% include sections/header.html %}
      <div class="app" data-barba="container" data-barba-namespace="{{ page.title | downcase }}">
      {{ content }}
      </div>
      {% include sections/footer.html %}
    </main>

    {% include utilities/scripts.html %}

  </body>

</html>