---
layout: default
class: journal
---

<section class="entries-overview column align-center">
    <div class="container">
      <div class="intro">
        <hgroup class="meta text-center">
          <h3 class="title">{{ page.title }}</h3>
          <h6 class="date-time">{{ page.date | date: "%B %d. %Y" }} • {% assign words = content | number_of_words %}{% if words < 360 %}1 min{% else %}{{ words | divided_by:180 }} mins{% endif %}</h6>
        </hgroup>  
      </div>
    </div>
  </section>
  
  <section class="entry-content">
    <div class="container">
      {% include content.html %}
    </div>  
  </section>