---
layout: default
class: page
---

<section class="page-intro journal row align-center">
  <div class="container">
    {{ content }}
  </div>
</section>

<section class="page-content journal row wrap position-relative">
    {% assign entries = site.posts | sort: "position" %}
    
    {% for entry in entries %}
      <div class="project">
        <a href="{{ entry.url }}">
          <figure class="project-details">
            <img src="{{ entry.general.cover_image }}">
            <figcaption class="text-center">
              <h6 class="title">{{ entry.title }}</h6>
            </figcaption>
          </figure> 
        </a> 
      </div>
    {% endfor %}
</section>