---
layout: default
class: page
---

{% if page.page_type == "split" %}
{% include sections/header.html %}
{% include sections/hero.html %}
<section class="page-content">
  <div class="container">
    {% for block in page.blocks %}
    {% assign template = block.template %}
    {% case template %}
    {% when 'heading' %}
        {% include blocks/heading.html %}  
    {% when 'content-block' %}
        {% include blocks/content-block.html %}    
    {% when 'text-block' %}
        {% include blocks/text-block.html %}
    {% when 'list' %}
        {% include blocks/list.html %}                 
    {% endcase %}
    {% endfor %}  
  </div>
</section>
{% include sections/footer.html %}
{% else %}
<section class="page-content">
</section>
{% endif %}