---
layout: default
---

<section class="photos-content position-relative">
  <div class="container row position-relative wrap">
    {% assign sorted = (site.photos | sort: 'position') %}
    
    {% for photo in sorted %}
    <figure class="photo grid-one-third grid-item gap-bottom">
      <img src="{{ photo.photo_info.photo }}" alt="{{ photo.photo_info.photographer }} – {{ photo.photo_info.year }}">
      <figcaption class="credits text-center small-gap-top">Shot in {{ photo.photo_info.year }} by {% if photo.photo_info.photographer_website %}<a href="{{ photo.photo_info.photographer_website }}" target="_blank">{{ photo.photo_info.photographer }}</a>{% else %}{{ photo.photo_info.photographer }}{% endif %}</figcaption>
    </figure>  
    {% endfor %}
  </div>
</section>
  