---
layout: default
class: page
---

<section class="project-overview row align-center">
  <div class="container row">
    <div class="intro grid-one-half">
      <h6 class="heading">{{ page.general.client }} • {{ page.general.project_year }}</h6>

      {{ page.content | remove: '<p>' | remove: '</p>' }}

      <a href="{{ page.general.project_url }}" target="_blank" class="project-link">{{ page.general.project_url | remove: "http://" }}</a>
    </div>

    <div class="info grid-one-half row">
      {% assign services = page.services | strip_newlines %}
      {% if services != '' %}
      <div class="services grid-one-half">
        <h6 class="heading">Services</h6>   
        <ul>
          {% for service in page.services %}
          <li>{{ service.type }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% assign credits = page.credits | strip_newlines %}
      {% if credits != '' %}
      <div class="credits grid-one-half">
        <h6 class="heading">Credits</h6>
        <ul>
          {% for credit in page.credits %}
          <li>{{ credit.type }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
</section>

<section class="project-content">
  <div class="container">
   {% include content.html %}
  </div>
</section>
