---
layout: default
class: proposal
---

<section class="proposal-overview row align-center">
  <div class="container row">
    <div class="intro grid-one-half">
      <h6 class="heading">{{ page.title }} • {% for service in page.services %}{{ service.type }}{% if forloop.last == false %},{% endif %}{% endfor %}</h6>
      {{ page.content | remove: '<p>' | remove: '</p>' }}
    </div>
  </div>
</section>

<section class="proposal-content">
  <div class="container">
    {% include proposal-content.html %}

    <h4 class="total"></h4>
  </div>
</section>
