---
layout: default
---

<section class="roles-content row position-relative wrap no-space">
  <section class="intro column">
    <div class="container column align-center">
      {{ content }}
    </div>
    
    <h6 class="call text-center">here they are</h6>
  </section>
  
  {% for role in site.roles %}
    <div class="role grid-one-half column align-center text-center gap-left-right">
      <h4 class="title">{{ role.title }}</h4>
      <p class="credits"></p>
      <p class="credits">At {{ role.role_information.theatre }} – {{ role.role_information.year }}</p>
    </div>
  {% endfor %}
</section>
