---
layout: default
---

<section class="roles-content row position-relative wrap no-space">
  
  <section class="intro column">
    <div class="container column align-center">
      {{ content }}
    </div>
    
    <h6 class="call text-center">here they are</h6>
  </section>
  
  {% assign sorted = (site.roles | sort: 'position') %}
  
  {% for role in sorted %}
    <div class="role grid-one-half column align-center text-center gap-left-right">
      <h4 class="title">{{ role.title }}</h4>
      {% capture current_day %}{{ "now" | date: "%B %d, %y" }}{% endcapture %}
      <p class="credits">{{ role.role_info.character }} – Directed by: {{ role.role_info.director }}</p>
      <p class="credits">At {{ role.role_info.theatre }} – {{ role.role_info.year }}</p>
    </div>
  {% endfor %}
</section>
