---
layout: default
---

{% assign type = page.page_type %}
{% assign theme = page.page_theme %}
{% include sections/header.html %}
<section class="page-content {{ page.title | downcase | handleize }}{% if theme == "dark" %} dark{% endif %}">
  <div class="container">
    {% for block in page.blocks %}
    {% assign template = block.template %}
    {% case template %}
    {% when 'heading' %}
        {% include blocks/heading.html %}  
    {% when 'content-block' %}
        {% include blocks/content-block.html %}    
    {% when 'text-block' %}
        {% include blocks/text-block.html %}  
    {% when 'list' %}
        {% include blocks/list.html %}                   
    {% endcase %}
    {% endfor %}  
  </div>
</section>
{% include sections/footer.html %}