---
layout: default
class: page
---

<section class="page-content work position-relative">
  <div class="project-index-grid container row wrap">
    {% assign projects = site.work | sort: "position" %}
    
    {% for project in projects %}
      <div class="project">
        <a href="{{ project.url }}">
          <figure class="project-details">
            {% assign featured_blocks = project.blocks | where_exp:"block", "block.image.featured_image == true" %}
            {% for block in featured_blocks %}
              <img src="block.url">
            {% endfor %}
            <figcaption class="text-center">
              <h6 class="title">{{ project.title }}</h6>
            </figcaption>
          </figure> 
        </a> 
      </div>
    {% endfor %}
  </div>
</section>